<ion-header>
  <ion-navbar>
    <ion-title>
      <!--{{grupo.nome}}-->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h6 style="margin-bottom: -2px; margin-left: 15px;">Membros</h6>
  <ion-list>
    <ion-item *ngFor="let membro of membros">
      <ion-avatar item-start>
        <img src="{{membro.photo}}">
      </ion-avatar>
      <div> 
        {{membro.name}}
      </div>
      <p>possui carro</p>
    </ion-item> 
  </ion-list>
  <!--
   Grupo do Edson exemplifica caso de uso onde voce solicita entrada em um grupo aberto
  -->
  <ion-item *ngIf="grupo.nome!='Carro do Mackeenzy'">
  <ion-icon name="link"></ion-icon>
    Copiar link para convite
  </ion-item>

  <ion-item *ngIf="grupo.nome=='Carro do Mackeenzy'">
  <ion-icon name="add-circle"></ion-icon>
    Solicitar entrada 
  </ion-item>

  <ion-calendar #calendar></ion-calendar>
  <ion-item>
    <ion-label>Horário de partida</ion-label>
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>   
</ion-content>

