<ion-content padding>
  <ion-searchbar
    [(ngModel)]="myInput"
    (ngSubmit)="onSubmit($event)"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    placeholder="Buscar um HUB">
  </ion-searchbar>
  <div *ngIf="hubs">
    <ion-list>
      <ion-item *ngFor="let hub of hubs" (click)="itemSelected(hub.$key)">
        <ion-icon name="{{hub.photo}}" item-start></ion-icon>
        {{hub.nome}}
        <p>{{hub.qtd}} pessoas</p>
      </ion-item>
    </ion-list>
  </div>
  <button ion-button ></button>
</ion-content>
