<ion-header>
  <ion-navbar>
    <ion-title>
      Grupos do Hub
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="grupos">
    <ion-list>
      <ion-item
        (click)="criarGrupo()"
        class="criar-grupo">
        <ion-col>
          <ion-icon name="add-circle"></ion-icon>
        </ion-col>
        <ion-col>
          Criar Grupo
        </ion-col>
      </ion-item>
      <ion-item *ngFor="let grupo of grupos">
        <ion-avatar item-start>
          <img src="{{grupo.img}}">
        </ion-avatar>
        <div class="grupo">
          {{grupo.nome}} 
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

