page-cadastro-usuario {

    .round {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-left: 33%;
    }

    ion-avatar {
        padding-top: 10px;
        padding-bottom: 35px;
    }

}
